/********** 
  14. Download Page and Section Styles
**********/
.download,
.download-two {
  padding-bottom: 120px;
  position: relative;

  @include media-breakpoint-down-xxl {
    padding-bottom: 112px;
  }
  @include media-breakpoint-down-lg {
    padding-bottom: 80px;
  }
  @include media-breakpoint-down-sm {
    padding-bottom: 32px;
  }

  .section-header {
    padding-bottom: 82px;
    @include media-breakpoint-down-lg {
      padding: 48px 0;
    }
    .shape {
      @include media-breakpoint-down-sm {
        top: 94%;
      }
    }
  }
  .download-items {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    @include media-breakpoint-down-md {
      display: block;
      text-align: center;
    }
    .card {
      transition: transform 0.4s ease-in-out;
      padding: 50px;
      background: $color-white;
      border-radius: 10px;
      box-shadow: none;
      z-index: 99;
      text-align: left;
      transform: translateY(0px);
      position: relative;
      border: 1px solid $color-border;
      @include media-breakpoint-down-lg {
        text-align: center;
        margin-bottom: 32px;
      }
      @include media-breakpoint-down-lg {
        padding: 16px;
      }
      @include media-breakpoint-down-md {
        padding: 32px 32px 48px;
      }
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        transition: all 0.4s ease-in-out;
        .shape {
          position: absolute;
          right: 15px;
        }
      }

      p {
        font-size: 20px;
        margin-bottom: 25px;
        transition: all 0.4s ease-in-out;
        span {
          color: $color-black;
          font-size: $base-font-size * 2.8;
          font-family: $font-primary;
          font-weight: 900;
          transition: all 0.4s ease-in-out;
        }
      }
      .card-title {
        display: flex;
        align-items: center;
        font-size: $base-font-size * 1.7;
        color: $color-primary;
        margin-bottom: 18px;
        @include media-breakpoint-down-xxl {
          font-size: $base-font-size * 1.3;
        }
        @include media-breakpoint-down-lg {
          justify-content: start;
          text-align: left;
        }
        @include media-breakpoint-down-sm {
          font-size: $base-font-size * 1;
        }
        span {
          margin-right: 14px;
        }
      }
      .card-text {
        font-size: $base-font-size * 1.25;
        line-height: $base-font-size * 1.8;
        margin-bottom: 60px;
      }
      .shape {
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 100;
        transition: all 0.4s ease-in-out;
        @include media-breakpoint-down-lg {
          display: none;
        }
      }

      &-body {
        padding: 0;

        &:last-child {
          margin-right: 0;
        }

        a {
          font: inherit;
          font-weight: 600;
          background: linear-gradient(0deg,currentColor,currentColor) no-repeat right bottom/0 1px;
          display: inline-block;
          padding-bottom: 1px;
          margin-bottom: -1px;
          transition: background-size 350ms,transform 350ms;
          color: $color-primary;

          &:hover, &:focus-visible {
            background-size: 100% 1px;
            background-position-x: left;
            transform: translate(0,-2px)
          }


          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
  &-hero {
    position: relative;
    padding-bottom: 256px;
    @include media-breakpoint-down-lg {
      padding-bottom: 160px;
    }
    @include media-breakpoint-down-md {
      padding-bottom: 128px;
    }
    &-dashboard {
      text-align: center;
      position: relative;
      @include media-breakpoint-down-lg {
        border-radius: 50px;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.05);
      }
      .dashboard-shape-one,
      .dashboard-shape-two {
        position: absolute;
        top: 17%;
        right: 5%;
        border-radius: 50px;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.05);
      }
      .dashboard-shape-one {
        @include media-breakpoint-down-lg {
          display: none;
        }
      }
      .dashboard-shape-two {
        left: 60%;
        top: 10%;
        border-radius: 10.1404px;
      }
      img {
        max-width: 100%;
      }
    }
  }

  // start-dawnload-two

  &-two {
    background: $color-white;
    position: relative;
    padding-bottom: 120px;
    overflow: hidden;
    @include media-breakpoint-down-lg {
      padding-bottom: 64px;
      margin-bottom: 64px;
    }
    .btn {
      @include media-breakpoint-down-xl {
        width: 100%;
        margin-bottom: 64px !important;
      }
    }
  }
  .shape-carve-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    svg {
      width: 100%;
      path {
        fill: $color-white;
        stroke: $color-border;
      }
      rect {
        fill: $color-white;
      }
    }
  }
  .btn {
    @include media-breakpoint-down-xl {
      width: 100%;
      margin-bottom: 64px !important;
    }
  }
}
