/********** 
  12. Review Section Styles
**********/
.review {
  .section-header {
    padding-bottom: 64px;
    .shape {
      top: 44%;
      left: 74%;
      z-index: -1;
      @include media-breakpoint-down-lg {
        left: 85%;
      }
      @include media-breakpoint-down-md {
        left: 50%;
      }
    }
  }
  .hidden {
    display: none;
  }
  &-item {
    //display: none;
    width: calc(33% - 32px);
    margin-right: 16px;
    @include media-breakpoint-down-lg {
      width: calc(50% - 32px);
    }
    @include media-breakpoint-down-md {
      width: 100%;
    }
  }
  .card {
    transition: all 0.3s ease-in-out;
    padding: 40px 32px;
    background: $color-gray;
    border-radius: 10px;
    box-shadow: none;
    z-index: 100;
    margin-bottom: 24px;
    overflow: hidden;
    border: 1px solid $color-border;
    @include media-breakpoint-down-sm {
      padding: 40px 16px;
    }
    &:hover {
      background: $color-secondary;
    }
    &-body {
      padding: 0;
      margin-bottom: 48px;
      .card-text {
        font-size: $base-font-size * 1.24;
        color: $color-black;
        font-weight: $semibold-font-weight;
        line-height: 35px;
      }
    }
    &-icon {
      display: flex;
      align-items: center;
      @include media-breakpoint-down-lg {
        justify-content: start;
      }
      .logo {
        margin-right: 16px;
        img {
          width: 70px;
          height: 70px;
          border-radius: 50px;
        }
      }
      .info {
        h5 {
          font-weight: $semibold-font-weight;
          font-family: $font-primary;
          font-size: $base-font-size * 1.25;
          margin-bottom: 6px;
        }
        p {
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      z-index: 1;
      transform: scaleX(0);
      transition: transform 0.5s ease-in-out;
      transform-origin: right;
      background: $color-primary;
    }
  }
  .link {
    .btn {
      font-size: 14px;
      font-weight: $medium-font-weight;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}
