//Import fonts from https://fonts.google.com/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
// Font Variables
$font-primary: "PingFang SC", "Microsoft YaHei", "Source Han Sans CN", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
$base-font-size: 16px;
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$semibold-font-weight: 600;
$bold-font-weight: 700;
$base-letter-spacing: -0.025em;
$paragrap-letter-spacing: -0.01em;

//Colors Variables
$color-white: #fff;
$color-black: #000;
$color-gray: #fcfcfc;
$color-primary: #1fadad;
$color-primary-light: #4cbdbd;
$color-primary-dark: #01a8b1;
$color-secondary: #f0feff;
$color-secondary-dark: #d9f2f6;
$color-secondary-dark-border: #b5e5ec;
$color-border: #ebebeb;
$color-header: #000;
$color-text: #282c33;
$color-text-light: #1f253b;

// Transition Variables
$base-transition: all 0.5s ease-in-out;

//Others Varibles
$base-border-width: 1px;
$base-border-radius: 8px;
